<a href="https://colab.research.google.com/github/ViniitMe/Machine-Learning-foundation-and-Applications/blob/master/Rainfall_prediction_15MI33017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from time import time
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.linear_model import LinearRegression

In [0]:
from google.colab import drive
drive.mount("/content/drive/")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [0]:
# Loading Dataset
import scipy.io
train = scipy.io.loadmat('/content/drive/My Drive/15MI33017/2010rainfall.mat')
test = scipy.io.loadmat('/content/drive/My Drive/15MI33017/2011rainfall.mat')

# Linear Regression

In [0]:
train_data = pd.DataFrame(train['XR1'])
test_data = pd.DataFrame(test['XR'])

In [0]:
print(train_data.head())
print(train_data.shape)

   0         1          2    3    4    ...  117  118  119  120       121
0  0.0  0.000000   0.000000  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.000000
1  0.0  0.000000   0.000000  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.000000
2  0.0  0.467299  10.927622  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.000000
3  0.0  0.469477   6.805963  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.170385
4  0.0  0.000000   6.611897  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.543626

[5 rows x 122 columns]
(357, 122)

In [0]:
# Data Preparation
def preprocess(loc_num, data):
  location = data.iloc[loc_num,:]
  data = data.drop(loc_num,0)
  data = data.reset_index(drop=True)
  data = data.drop(0,1)
  data = data.drop(1,1)
  data.columns = range(data.shape[1])
  row_1 = pd.DataFrame(location[0:120])
  row_1 = row_1.reset_index(drop=True)
  row_1.columns = [356]
  row_2 = pd.DataFrame(location[1:121])
  row_2 = row_2.reset_index(drop = True)
  row_2.columns = [357]
  data = data.append(row_1.T)
  data = data.append(row_2.T)
  return data;

For Delhi(s=158)

In [0]:
x_train_d = preprocess(158,train_data)
x_test_d = preprocess(158, test_data)

In [0]:
train_data.head()

   0         1          2    3    4    ...  117  118  119  120       121
0  0.0  0.000000   0.000000  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.000000
1  0.0  0.000000   0.000000  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.000000
2  0.0  0.467299  10.927622  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.000000
3  0.0  0.469477   6.805963  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.170385
4  0.0  0.000000   6.611897  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.543626

[5 rows x 122 columns]

In [0]:
y_train_d = train_data.iloc[158,2:]
y_train_d = y_train_d.reset_index(drop=True)
y_test_d = test_data.iloc[158,2:]
y_test_d = y_test_d.reset_index(drop=True)

In [0]:
print(x_train_d.T.shape)
print(y_train_d.shape)
print(x_test_d.T.shape)
print(y_test_d.shape)

(120, 358)
(120,)
(120, 358)
(120,)

In [0]:
reg = LinearRegression()
reg.fit(x_train_d.T,y_train_d)
y_pred = reg.predict(x_test_d.T)
for i in range(len(y_pred)):
  if(y_pred[i]<0):
    y_pred[i]=0

In [0]:
RMSE_delhi = mean_squared_error(y_test_d,y_pred)**0.5
print("RMSE_delhi:" + str(RMSE_delhi))

RMSE_delhi:12.382066286457418

For KGP(s=299)

In [0]:
x_train_k = preprocess(299,train_data)
x_test_k = preprocess(299, test_data)

In [0]:
y_train_k = train_data.iloc[299,2:]
y_train_k = y_train_k.reset_index(drop=True)
y_test_k = test_data.iloc[299,2:]
y_test_k = y_test_k.reset_index(drop=True)

print(x_train_k.T.shape)
print(y_train_k.shape)
print(x_test_k.T.shape)
print(y_test_k.shape)

(120, 358)
(120,)
(120, 358)
(120,)

In [0]:
reg = LinearRegression()
reg.fit(x_train_k.T,y_train_k)
y_pred = reg.predict(x_test_k.T)
for i in range(len(y_pred)):
  if(y_pred[i]<0):
    y_pred[i]=0

In [0]:
RMSE_kgp = mean_squared_error(y_test_k,y_pred)**0.5
print("RMSE_kgp:" + str(RMSE_kgp))

RMSE_kgp:16.019991846393566

For Mumbai(s=42)

In [0]:
x_train_m = preprocess(42,train_data)
x_test_m = preprocess(42, test_data)

In [0]:
y_train_m = train_data.iloc[42,2:]
y_train_m = y_train_m.reset_index(drop=True)
y_test_m = test_data.iloc[42,2:]
y_test_m = y_test_m.reset_index(drop=True)

print(x_train_m.T.shape)
print(y_train_m.shape)
print(x_test_m.T.shape)
print(y_test_m.shape)

(120, 358)
(120,)
(120, 358)
(120,)

In [0]:
reg = LinearRegression()
reg.fit(x_train_m.T,y_train_m)
y_pred = reg.predict(x_test_m.T)
for i in range(len(y_pred)):
  if(y_pred[i]<0):
    y_pred[i]=0

In [0]:
RMSE_mumbai = mean_squared_error(y_test_m,y_pred)**0.5
print("RMSE_Mumbai:" + str(RMSE_mumbai))

RMSE_Mumbai:24.918176903937603

# Lasso Regression

In [0]:
from sklearn.linear_model import Lasso
reg = Lasso()

For Mumbai

In [0]:
reg.fit(x_train_m.T,y_train_m)
y_pred = reg.predict(x_test_m.T)
for i in range(len(y_pred)):
  if(y_pred[i]<0):
    y_pred[i]=0

RMSE_mumbai = mean_squared_error(y_test_m,y_pred)**0.5
print("RMSE_Mumbai_lasso:" + str(RMSE_mumbai))

RMSE_Mumbai_lasso:25.02872946789516

In [0]:
coeff_mumbai = reg.coef_
coeff_mumbai = np.abs(coeff_mumbai)
index_mumbai = coeff_mumbai.argsort()[-5:][::-1]
print("Top predictors for Mumbai " +str(index_mumbai))

Top predictors for Mumbai [26 25 47 92 90]

For KGP

In [0]:
reg.fit(x_train_k.T,y_train_k)
y_pred = reg.predict(x_test_k.T)
for i in range(len(y_pred)):
  if(y_pred[i]<0):
    y_pred[i]=0

RMSE_kgp = mean_squared_error(y_test_k,y_pred)**0.5
print("RMSE_KGP_lasso:" + str(RMSE_kgp))

RMSE_KGP_lasso:14.755040166748751

In [0]:
coeff_kgp = reg.coef_
coeff_kgp = np.abs(coeff_kgp)
index_kgp = coeff_kgp.argsort()[-5:][::-1]
print("Top predictors for Kgp: " +str(index_kgp))

Top predictors for Kgp: [ 50 203 298 210  51]

For Delhi

In [0]:
reg.fit(x_train_d.T,y_train_d)
y_pred = reg.predict(x_test_d.T)
for i in range(len(y_pred)):
  if(y_pred[i]<0):
    y_pred[i]=0

RMSE_d = mean_squared_error(y_test_d,y_pred)**0.5
print("RMSE_Delhi_lasso:" + str(RMSE_d))

RMSE_Delhi_lasso:11.116010155290185

In [0]:
coeff_delhi = reg.coef_
coeff_delhi = np.abs(coeff_delhi)
index_delhi = coeff_delhi.argsort()[-5:][::-1]
print("Top predictors for delhi " +str(index_delhi))

Top predictors for delhi [117 131  74 115 357]

# Decision Tree Classification

In [0]:
x_train = pd.DataFrame(train['XR1'])
y_train = pd.DataFrame(train['ZR1'])
x_test = pd.DataFrame(test['XR'])
y_test = pd.DataFrame(test['ZR'])

In [0]:
print(x_train.T.shape)
print(y_train.T.shape)
print(x_test.T.shape)
print(y_test.T.shape)

(122, 357)
(122, 1)
(122, 357)
(122, 1)

In [0]:
print(y_train.T.head())
print(x_train.T.head())

   0
0  0
1  0
2  0
3  0
4  0
   0    1          2         3         4    ...        352        353  354  355  356
0  0.0  0.0   0.000000  0.000000  0.000000  ...  15.400000  10.266666  0.0  0.0  0.0
1  0.0  0.0   0.467299  0.469477  0.000000  ...  22.299999  14.866666  0.0  0.0  0.0
2  0.0  0.0  10.927622  6.805963  6.611897  ...   3.600000   2.400000  0.0  0.0  0.0
3  0.0  0.0   0.000000  0.000000  0.000000  ...  18.700003  12.466667  0.0  0.0  0.0
4  0.0  0.0   0.000000  0.000000  0.000000  ...   5.200000   3.466666  0.0  0.0  0.0

[5 rows x 357 columns]

In [0]:
# Training the decision tree
clf = DecisionTreeClassifier()
clf.fit(x_train.T,y_train.T)
y_pred = clf.predict(x_test.T)
accuracy = accuracy_score(y_test.T,y_pred)
print("Accuracy :" + str(accuracy))

Accuracy :0.7459016393442623

In [0]:
# Top 10 descriminative features(locations)
clf.feature_importances_.argsort()[-10:][::-1]

array([184, 252, 189,  26, 205, 159, 346, 253, 168, 119])